parameters:
    level: 6
    paths:
        - src
        - tests
    tmpDir: .phpstan.cache
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    treatPhpDocTypesAsCertain: false
